<footer class="site-footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Partitur</h5>
        <p>Koleksi partitur musik gerejawi dalam format digital interaktif.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/henriyulianto/partitur" target="_blank" class="text-light">GitHub Repository</a></li>
          <li><a href="https://archive.org/details/partitur-audio-data" target="_blank" class="text-light">Audio Files (Archive.org)</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p>&copy; 2026 Henri Yulianto. Dibuat dengan <i class="fas fa-heart text-danger"></i> menggunakan NodeJS & Express.</p>
    </div>
  </div>
</footer>
